

div.dialog_footer {
	background-color: rgb(143, 170, 220);
	width: 110%;
	height: 100px;
	position: fixed;
	bottom: 0;
	z-index: 80;
}

div.wexkeyword_footer {
	position: fixed;
	top:100px;
	right:0px;
}

div.image_footer {
	position: fixed;
	bottom: 150px;
	right:0px;
}

body {
	background: url("../images/background_driving.png") fixed no-repeat;
	background-attachment: fixed;
	height: 100%;
	-moz-background-size:auto 80%;
	/*background-size:auto 80%;*/
	background-size: cover;
	margin-top: 90px;
	margin-bottom: 100px;
	background-color: rgb(218,218,218);
	background-position: center center;

}


.input_example {
	color: rgb(1,34,70);
	padding: 3px;
}

.image_watson {
	background-image: url('../images/watson_think_stop.gif');
	width: 100%;
	height: 80px;
	background-position: center center;
  background-repeat: no-repeat;
	-moz-background-size:60px auto;
	background-size:60px auto;
}

p.balloon_wrapper {
	width: 500px;
	margin: 15px auto;
	font-size: 110%;
}
p.balloon_wrapper::after {
	clear: both;
	content: "";
	display: block;
	line-height: 0;
}
p.balloon_watson,
p.balloon_user {
	position: relative;
	z-index: 1;
	max-width: 80%;
	min-width: 10%;
	margin: 15px auto;
	padding: 13px;
	background-color: #fff;
	border-width: 2px;
	border-style: solid;
	border-radius: 10px;
}
p.balloon_watson::before,
p.balloon_user::before {
	content: "";
	display: block;
	position: absolute;
	z-index: 10;
	top: 10px;
	width:  0;
	height: 0;
	border: 15px solid transparent;
}
p.balloon_watson::after,
p.balloon_user::after {
	content: "";
	display: block;
	position: absolute;
	z-index: 100;
	top: 10px;
	width:  0;
	height: 0;
	border: 15px solid transparent;
}

/* balloon left */
p.balloon_watson {
	float: left;
	border-color: rgb(81,155,213);
}
p.balloon_watson::before {
	left: -30px;
	border-right: 15px solid rgb(81,155,213);
}
p.balloon_watson::after {
	left: -27px;
	border-right: 15px solid #fff;
}


/* balloon right */
p.balloon_user {
	float: right;
	border-color: rgb(81,155,213);
	background-color: rgb(189,215,220);

}
p.balloon_user::before {
	right: -30px;
	border-left: 15px solid rgb(81,155,213);

}
p.balloon_user::after {
	right: -27px;
	border-left: 15px solid rgb(189,215,220);
}





 .checker input {
  display: none;
}
.checker .check {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 5px;
}
.checker .check::before {
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  width: 18px;
  height: 18px;
  border: 2px solid #ccc;
  content: "";
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
}
.checker input:checked + .check::after {
  display: block;
  position: absolute;
  top: 5px;
  left: 3px;
  width: 16px;
  height: 8px;
  border-left: 3px solid #FF9EEE;
  border-bottom: 3px solid #FF9EEE;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  content: "";
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
